#char-create-select {
    height: 3rem;
    width: stretch;    
    margin: 0.5rem;
}

#char-create-formtype {
    padding: 1rem;
}

#char-create-textarea {
    padding: 1.59rem;
}

#char-create-card {
    height: 35rem;
    width: auto;
    margin-top: 4%;
    padding-left: 5%;
    padding-right: 5%
}

#char-attributes-card {
    height: auto;
    width: auto;
    padding-left: 5%;
    padding-right: 5%
}

#char-create-card-content {
    padding: 4%;
}

#centered-button {
    margin: 2rem;
    text-align: center;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.08rem;
}

.inc-dec-btn {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    padding: 0px;
}

#attribute-explanation {
    width: stretch;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 2rem;
}